header.top {
  position: relative;
  width: 100%;
  background-color: #fbf3d8;
  height: 400px;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
  text-align: center;
  z-index: 2;
}

header.top span{
  font-weight: 300;
}

