nav {
  position: fixed;
  color: #FFFF;
  background-color: #4056A1;
  width: 100%;
  height: 120px;
  z-index: 1;
  padding: 1.5em;
  
}

span.logo {
  font-family: 'Bungee', cursive;
  width: 100%;
  
}

span.write-tweet {
  font-family: 'Roboto', sans-serif;
  float: right

}

div.click-tweet {
  text-align: right;
  margin-right: 45px;
  
}

div.click-tweet button {
  background-color: Transparent;
  border: none;
  outline: none
}


div.click-tweet i {
  color: #FFFF;
}

div.click-tweet button:hover i{
  color:blue
}
