nav {
  position: fixed;
  color: #FFFF;
  background-color: #fbf3d8;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
  width: 100%;
  height: 120px;
  z-index: 3;
  padding: 1.5em;
  
}

span.logo {
  font-family: 'Bungee', cursive;
  width: 100%;
  
}

span.write-tweet {
  font-family: 'Roboto', sans-serif;
  float: right

}

div.click-tweet {
  text-align: right;
  margin-right: 45px;
  
}

div.click-tweet button {
  background-color: Transparent;
  border: none;
  outline: none;
  cursor: pointer;
}


div.click-tweet i {
  color: #FFF;
}

div.click-tweet button:hover i{
  color: #545149;
  
}

nav b {
  font-weight: bold;
}
