section.new-tweet {
  position: relative;
  z-index: 1;
}
section input {
  margin-left: 2%;
  color: #FFF;
  background-color: #4056A1;
  font-family: 'Bungee', 'cursive';
  float: left;
}
textarea::placeholder {
  color:#545149;
  opacity: 100;
}
textarea {
  opacity: 100;
  width: 96%;
  background-color: #f4f1ec;
  border-color: #545149;
  border-bottom-width: 5px;
  border-top: 0em;
  border-right: 0em;
  border-left: 0em;
  margin-bottom: 10px;
  
  resize: none;
}

.counter {
  margin-right: 2%;
  float: right;
  font-family: 'Bungee', 'cursive';
  color: #545149;
 
}

.new-tweet h2 {
  margin-left: 2.5%;
  text-align: left;
  margin-bottom: .25em;
}

.error-container {
  width: 50%;
  border-radius: 25px;
  margin-left: 24%;
  background-color: #b02828
}

span.error {
  z-index: 4;
  size: 200;
  color: white;
  
}